*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:#2c3b59;
    color: #fff;
}
header{
    width: 100%;
    height: 240px;
    background-color: #071b33;
}
header div{
    width: 50%;
    float: left;
}
#logo img{
    height: 235px;
    margin-left: 30px;
}
#titulo{
    padding-top: 65px;    
}
#nav{
    width: 100%;
    height: 40px;
    background-color: #2c3b59;
    float: left;
    padding: 30px 0 30px 0;
}
nav ul{
    list-style: none;
    margin: 10px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 35px;
    color: #fff;
    padding: 10px;
}
nav ul li a:hover{
    background-color: #f25c05;
    border-radius: 20%;
}
main{
    width: 100%;
    float: left;
    margin-top: 10px;
}
main div{
    width: 85%;
    margin: 0 auto;
    border-radius: 30%;

}
.imagens{
    width: 40%;
    float: left;
    margin: 1%;
}
.imagens img{
    width: 100%;
    border-radius: 30%;
}
footer{
    width: 100%;
    float: left;
    background-color: #071b33;
    padding: 15px 0 15px 0;
    text-align:center ;
}
